* {
    box-sizing: border-box;
}

:root {
    /* primära & sekundära färger */
    --main-background-color: #7195b5;
    --secondary-background-color: #a2bdd5;
    --tertiary-background-color: #eefbff;
    --main-paragraph-color: #7195b5;
    --secondary-paragraph-color: #a2bdd5;
    --tertiary-paragraph-color: #eefbff;
}

/* 1 rem = 10px */
html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Font families */
h1,
h2,
h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    font-weight: bold;
}

p,
a,
footer,
time,
span {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Font sizes and color */
h1,
h2 {
    font-size: 3rem;
    line-height: 1.4em;
    color: #fff;
}

p,
a,
footer,
time,
span {
    font-size: 1.6rem;
    line-height: 1.4em;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    width: 100%;
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.back-link {
    z-index: 2;
    position: absolute;
    display: inline-flex;
    color: #fff;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    left: 50px;
    top: 50px;
}

.back-link svg {
    width: 30px;
    transition: margin-right 0.2s ease-in-out;
}

.back-link:hover svg {
    margin-right: 5px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3em;
    color: #fff;
    font-size: 2rem;
    background-color: #000;
}

.movie-card {
    position: relative;
    width: 100%;
    z-index: 0;
    background-color: #000;
}

.movie-card:not(:last-child) {
    margin-bottom: 1rem;
}

.movie-card-text-container {
    position: absolute;
    left: 2rem;
    bottom: 7rem;
    opacity: 0;
}

img {
    max-width: 100%;
    display: block;
    height: 100%;
}

.background_image {
    display: none;
}

.poster_image {
    position: relative;
    object-fit: contain;
    max-height: 100%;
    border: 0.3rem solid #fff;
}
.details_average_rating {
    color: #e11;
}

@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .movie-card {
        max-width: 50%;
    }

    .movie-card:not(:last-child) {
        margin-bottom: 0;
    }

    .background_image {
        position: relative;
        width: 100%;
        max-height: 100vh;
        object-fit: cover;
        filter: brightness(60%);
        display: block;
    }

    .poster_image {
        position: absolute;
        width: 20%;
        height: auto;
        top: 50%;
        bottom: 50%;
        transform: translate(50px, -50%);
    }

    .details_text_wrapper {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: calc(20% + 75px);
        width: 35rem;
    }
}

@media screen and (min-width: 1024px) {
    /* Movie title */
    .movie-card-text-container > h2 {
        font-size: 2.8rem;
    }

    /* hoover and focus */
    a:hover img,
    a:focus img {
        opacity: 30%;
    }

    a:hover .movie-card-text-container,
    a:focus .movie-card-text-container {
        opacity: 100%;
    }

    .movie-card {
        width: 25%;
    }
}
